@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import "tailwindcss";



a.active hr{
  display: block;
}



/* Font-Styles */
body{
  font-family:"lato";
}

.oswald{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
}

.playfair {
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  
}
